// /*
// Theme Name: Twenty Eleven
// Theme URI: http://wordpress.org/extend/themes/twentyeleven
// Author: the WordPress team
// Author URI: http://wordpress.org/
// Description: ...
// Version: 1.3
// License: GNU General Public License
// License URI: license.txt
// Tags: ...
// */

// // Dependencies
// // @import "~bootstrap/scss/bootstrap";

// Abstracts
@import "./abstracts/mixins";
@import "./abstracts/variables";


// Base
// @import "./base/typography";
@import "./base/normalize";

// // Helpers
@import "./helpers/utils";

// // Layout
@import "./layout/header";
@import "./layout/footer";

// Components
@import "./components/buttons";
@import "./components/list";
@import "./components//inputs";


html,
body {
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: $font-family-primary;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}


