.btn{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  
  background-color: $orange;
  color: $white;
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover{
    background-color: $white;
    color: $orange;
  }

  &--sm{
    padding: 0.5rem 1rem;
  }
  &--large{
    padding: 0.5rem 2rem;
  }

  &--outline{
    background-color: transparent;
    border: solid 1px $orange;
    color: $orange;

    &:hover{
      background-color: $orange;
      color: $white;
    }
  }

  &--orange{
    background-color: $orange !important;
    color: white;
  }
}