.list{
    list-style: none;

    li{
        &::before{
            content: "•";
            font-size: 1.5rem;
            color: $orange;
            margin-right: 1rem;
            height: auto;
        }
    }
}