/* ---------------------------------------------------
    Media Queries
----------------------------------------------------- */

/* Small devices */
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

/* Medium devices */
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

/* Large devices */
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

/* Extra large devices */
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/* Extra Extra large devices */
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

/* Custom devices */
@mixin rwd($screen) {
  @media (min-width: $screen + "px") {
    @content;
  }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin rounded-corner($arc) {
  -moz-border-radius: $arc;
  -webkit-border-radius: $arc;
  border-radius: $arc;
}

/* 
*  Shorthand mixin for offset positioning
*  @param {String} $position - Either `relative`, `absolute` or `fixed`
*  @param {Length} $top [null] - Top offset
*  @param {Length} $right [null] - Right offset
*  @param {Length} $bottom [null] - Bottom offset
*  @param {Length} $left [null] - Left offset 
*/
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

/// Shorthand mixin for absolute positioning
/// Serves as an alias for `position(absolute, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin absolute($args...) {
  @include position(absolute, $args...);
}

/// Shorthand mixin for relative positioning
/// Serves as an alias for `position(relative, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin relative($args...) {
  @include position(relative, $args...);
}

/// Shorthand mixin for fixed positioning
/// Serves as an alias for `position(fixed, ...)`
/// @param {Arglist} $args - Offsets
/// @require {mixin} position
@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  @include rounded-corner($border-radius);
}
