// Small tablets and large smartphones (landscape view)
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Extra large tablets and desktops
$screen-xl-min: 1200px;

// Extra extra large desktops and tv's
$screen-xxl-min: 1320px;

// Fonts
$font-family-primary: "Helvetica", sans-serif;

// Weights
$lighter: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$transparent: rgba(0, 0, 0, 0);
$white: #fff;
$black: #000000;
$blue-dark: #0c0f3d;
$orange: #ef5c32;
$green: #699e0b;
$deep-carrot-orange:#ef5c32;
$olive-drab: #699E0B;
$gray: #838383;
$gray-light: #c8c8c8;

// Font Sizes
$fs-1: 1rem;
$fs-2: 1.125;
$fs-3: 1.375;
$fs-4: 3rem;
// $fs-4: 48px;


// Header
$header-height: 112px;
$header-height-movil: 50px;

// Border Radius
$border-radius: 0.3rem;