.footer{
    background-color: #292929;
    color: $white;
    padding: 1rem;
    margin-top: 5rem;
    &__paragraph{
        b{
            color: $orange;
        }
        a{
            color: white;
            cursor:text;
            text-decoration: none;
        }
    }
}