.brand{
  height: 2rem;
  cursor: pointer;
  display: block;
}

.navbar{
  min-height: $header-height-movil;
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
}

.nav-link{
  color: $blue-dark !important;
  &:hover{
    color: $orange !important;
  }
}
.active{
  color: $orange !important;
}

.navbar-nav{
  margin: 0 auto;
  gap: 1rem;
}

@include md{
  .navbar{
    min-height: $header-height;
  }
}
@include rwd(992){
  .brand{
    display: none;
  }
}