
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img routerLink="/" class="brand" src="../../../assets/imgs/logo.svg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" href="#objetivo"> Objetivo</a>
        <a class="nav-link" routerLinkActive="active" href="#características"> Características</a>
        <a class="nav-link" routerLinkActive="active" href="#impacto-social"> Impacto Social</a>
        <a class="nav-link" routerLinkActive="active" routerLink="testimonios"> Testimonios</a>
        <a class="nav-link" routerLinkActive="active" href="#alcaldias"> Alcaldías</a>
        <a class="nav-link" routerLinkActive="active" href="#patrocinadores"> Patrocinadores</a>
        <a class="nav-link" routerLinkActive="active" routerLink="postula-tu-cancha"> Postula tu cancha</a>
        <a class="nav-link" routerLinkActive="active" href="#contacto"> Contacto</a>
      </div>
    </div>
  </div>
</nav>