<section class="catalogo container pt-2">
    <h1 class="section-title text-center">
        CATALOGO DE CANCHAS
    </h1>
    <div class="justify-content-center d-flex catalogo__nav flex-nowrap">
        <div class="flex-nowrap" *ngFor="let catalogo of canchasdisponibles">
            <button (click)="print(catalogo)" type="button" class="btn btn--sm btn--outline mr-2 {{catalogo.sector===selected.sector ? 'btn--orange' : ''}}">{{catalogo.sector}}
            </button>
        </div><br />
    </div>
    <div class="catalogo__gallery" *ngIf="selected">
        <div class="catalogo__item" *ngFor="let cancha of selected.canchas" >
            <div class="catalogo__image">
                <a routerLink="/cancha-detail/{{selected.sector}}/{{cancha.id}}">
                    <img src="{{cancha.images[0]}}" alt="Fotos Cancha"/>
                </a>
            </div>
            <div class="catalogo__title">{{cancha.name}}</div>
        </div>
    </div>
</section>