@import "../../../styles.scss";

.catalogo {
    $self: &;
    min-height: 75vh;

    &__gallery {
        margin-top: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;

        #{$self}__item {
            width: 100%;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border-radius: $border-radius;

            &:hover {
                .catalogo__title {
                    background-color: $orange;
                }

                .catalogo__image {
                    img {
                        transition: all 0.3s ease-out;
                        transform: scale(1.2);
                    }
                }
            }


            #{$self}__image {
                height: 100%;
                border-radius: $border-radius;

                img {
                    width: 100%;
                    filter: 0;
                    transition: all 0.3s ease-out;
                }
            }

            #{$self}__title {
                background-color: $blue-dark;
                position: absolute;
                bottom: 0;
                width: 100%;
                color: $white;
                padding: 0.5rem;
                text-transform: uppercase;
                font-weight: $bold;
                z-index: 10;
            }
        }
    }
}

@include rwd(480) {
    .catalogo {
        $self: &;
        &__gallery {
            grid-template-columns: 1fr 1fr;

            &__gallery {
                #{$self}__item {
                    width: 14rem;
                    height: 12rem;
                }
            }
        }
    }
}

    @include rwd(730) {
        .catalogo {
            $self: &;

            &__gallery {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }


    @include rwd(990) {
        .catalogo {
            $self: &;

            &__gallery {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }