
<div id="carouselExampleIndicators" class="carousel slide hero" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let hero of heros" class="carousel-item {{hero.active}}" style="background-image: url({{hero.image}});">
      <div class="color-bg">
        <div class="row align-items-center container">
          <div class="col-md-12 col-lg-6 text-center text-md-left">
            <h1 class="hero__title" innerHTML="{{hero.title}}"></h1>
            <img class="hero__brush" src="../../../assets/imgs/brush.png" alt=""><br />
            <a target="_blank" [href]="hero.link" class="btn btn--large mt-4 mb-4 mx-auto mx-md-1">ver más</a>
          </div>
          <div class="col-md-12 col-lg-6">
            <img class="hero__image" [src]="hero.image" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>