@import "../../../styles.scss";

.color-bg {
  position: relative;
  z-index: 1;
  padding: 2rem;
  height: 100%;

  &::before {
    content: "";
    @include position(absolute, $top: 0, $left: 0);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    background-color: $blue-dark;
  }
}

.hero{
  &__title{
    font-size: 1rem;
    color: $white;
    font-weight: $normal;
    width: auto;
  }
  &__brush{
    width: 5rem;
  }
  &__image{
    width: 100%;
    border: solid 2px $white;
  }
}
.carousel-inner{
  height: 65vh;
}

.carousel-item {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-control-prev, .carousel-control-next {
  width: fit-content;
  padding: 2rem;
}

@include rwd(440){
  .carousel-inner{
    height: 80vh;
  }
}

@include sm{
  .carousel-inner{
    height: 85vh;
  }
}

@include md{
  .carousel-inner{
    height: 70vh;
  }
  .hero{
    &__title{
      font-size: 1.5rem;
    }
  }
}

@include lg{
  .hero{
    &__title{
      font-size: 2rem;
      width: 80%;
    }
    &__brush{
      width: 15rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    &__image{
      border: solid 10px $white;
    }
  }
  .color-bg {
    padding: 8rem;
  }
}