<!-- CONTACTO -->
<section class="container">
  <h1 class="section-title text-center" id="contacto">CONTACTO</h1>
  <div class="contacto">
    <div class="row">
      <div class="col-lg-3 col-12 mb-5 mb-lg-0">
        <h4>DIRECCIÓN</h4><br />
        <p class="paragraph">
          Calle 6, Edificio 7, local 2.<br />
          Ens. Paraiso, Santo Domigo
        </p><br />
        <div>
          <ul class="contacto-list">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
              </svg>
              <p class="paragraph">809-378-5400</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram"
                viewBox="0 0 16 16">
                <path
                  d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
              </svg>
              <p class="paragraph">@pintamicanchard</p>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                <path
                  d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z" />
              </svg>
              <p class="paragraph">info@pintamicancha.com</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <!-- contacto form -->

        <div class="row">
          <form class="col-12 col-md-6 pr-0 pr-md-3">
            <!-- name -->
            <div class="field">
              <input type="text" name="name" class="input" placeholder="Nombre">
            </div>
          </form>

          <form class="col-12 col-md-6">
            <!-- correo -->
            <div class="field">
              <input type="text" name="correo" class="input" placeholder="Correo Electrónico">
            </div>
          </form>
        </div>

        <div class="row">
          <form class="col-12 col-md-6 pr-0 pr-md-3">
            <!-- name -->
            <div class="field">
              <input type="text" name="name" class="input" placeholder="Número de Teléfono">
            </div>
          </form>

          <form class="col-12 col-md-6">
            <!-- correo -->
            <div class="field">
              <input type="text" name="correo" class="input" placeholder="Asunto">
            </div>
          </form>
        </div>

        <form>
          <!-- name -->
          <div class="field">
            <input style="padding-bottom: 6rem;" type="area" name="area" class="input" placeholder="Escribe tu mensaje aquí...">
          </div>
        </form>
        <button class="btn w-100 d-flex justify-content-center">Enviar</button>
      </div>
    </div>
  </div>
</section>