<div class="home">

  <!-- HERO -->
  <app-hero></app-hero>
  <i id="objetivo"></i>

  <!-- OBJETIVO -->
  <section class="text-center container"> 
    <h1 class="section-title">OBJETIVO</h1>
    <p class="section-paragraph">Este programa de remozamiento, surge como una alternativa para llevar aliento a
      distintas comunidades del
      Distrito Nacional y el resto del país, donde puedan encontrar un lugar de sano esparcimiento </p>
  </section>

  <i id="características"></i>
  <!-- CARACTERÍSTICAS -->
  <section class="text-center container">
    <h1 class="section-title">CARACTERÍSTICAS</h1>
    <p class="section-paragraph">
      Se trata de canchas de voleibol y baloncesto que se encuentran bajo la custodia de las distintas alcaldías a nivel
      nacional, que serán remozadas a razón de la gestión conjunta entre la Alcaldía local con el sector privado y
      contarán con las siguientes características:
    </p>
    <br />
  <div>
    <ul class="text-left list section-paragraph">
      <li>Pintura total de cancha</li>
      <li>Pintura de gradas</li>
      <li>Arreglo básico de piso, reparación de fisuras</li>
      <li>Pizarra móvil de anotación</li>
      <li>Reparación de verjas</li>
      <li>Sustitución de tableros y/o aros dañados</li>
      <li>Colocación de parales</li>
      <li>Reforestación</li>
      <li>Limpieza del entorno<br></li>
      <li>Logo de patrocinador</li>
      <li>Logo de alcaldía correspondiente</li>
    </ul>
  </div>
  </section>

  <!-- IMPACTO SOCIAL -->
  <i id="impacto-social"></i>
  <section class="text-center container" >
    <h1 class="section-title">IMPACTO SOCIAL</h1>
    <ul class="text-left list section-paragraph">
      <li>
        Genera estímulos positivos a la comunidad: Competir; compartir; ejercitarse; adquisición de una vida más sana;
        generación de mejoras en el estado de ánimo (fe, confianza, optimismo y seguridad).
      </li><br/>
      <li>Alternativa de una vida socialmente responsable.</li><br/>
      <li>Aleja de los vicios y actividades delictivas.</li><br/>
      <li>Surgimiento de nuevos atletas de alto rendimiento.</li>
    </ul>
  </section>

  <!-- INSTITUCIONES INSCRITA AL PROGRAMA -->
  <i id="alcaldias"></i>
  <section class="text-center container">
    <h1 class="section-title">INSTITUCIONES INSCRITA AL PROGRAMA</h1>
    <p class="section-paragraph">
      Ministerio de Deportes<br />
      Alcaldía Distrito Nacional
    </p>
  </section>

  <!-- PATROCINADORES -->
  <i id="patrocinadores"></i>
  <section class="patrocinadores text-center container mb-5">
    <h1 class="section-title">PATROCINADORES</h1>
    <div>
      <img class="col-12 col-md-4 my-4 my-md-0 patrocinadores__logo" src="assets/imgs/gatorade.png" alt="">
      <img class="col-12 col-md-4 my-4 my-md-0 patrocinadores__logo" src="assets/imgs/banreservas.png" alt="">
      <img class="col-12 col-md-4 my-4 my-md-0 patrocinadores__logo" src="assets/imgs/rexona.png" alt="">
    </div>
  </section>

  <br/>  <br/>
  <app-contacto></app-contacto>

</div>