@import '../../../styles.scss';

.detail-cancha{
    color: $gray;
    &__info{
        .info-disciplinas{
            font-size: 1rem;
            text-transform: capitalize;
        }
        .info-price{
            font-size: 1.5rem;
            font-weight: bold;
            color: $blue-dark;
            // margin-top: 1rem;
            // margin-bottom: 1rem;

            &::after{
                content: '';
                display: block;
                width: 50%;
                margin-left: 0;
                margin-top: 5px;
                height: 3px;
                background-color: $orange;
            }
        }
    }
}

.go-back{
    width: fit-content;
}
.section-title{
    margin-top: 1rem !important;
}

.carousel-inner{
    $width: auto;
    height: 65vw;
    overflow: hidden;
    border: solid 5px $blue-dark;
}
.carousel-control-prev, .carousel-control-next{
    color: $orange;
}

@include rwd (769){
    .carousel-inner{
        height: 31vw;
    }
}
@include rwd (1060){
    .carousel-inner{
        height: 325px;
    }
}