<section class="container pt-2">
    <div class="go-back mx-auto mt-5">
        <a routerLink="/catalogo" class="btn btn--sm btn--outline">
            <i class='bx bx-arrow-back'></i>
            Volver Atras
        </a>
    </div>
    <h1 class="section-title text-center" style="text-transform: uppercase;">
        {{canchasDisponible.name}}
    </h1>

    <div class="detail-cancha">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="detail-cancha__slider mr-0 mr-md-5">
                    <div id="carouselExampleIndicators" class="carousel slide hero" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner mb-2">
                            <div *ngFor="let item of canchasDisponible.images; let i = index" class="carousel-item {{i===0 ? 'active' : ''}}">
                                <img src="{{item}} "class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previouss</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="detail-cancha__info">
                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                        <h3 class="info-disciplinas">{{canchasDisponible.disciplinas}}</h3>
                        <h2 class="info-price my-3 my-sm-0 ">RD$ {{canchasDisponible.prices}}</h2>
                    </div>
                    <ul class="list" *ngFor="let item of canchasDisponible.list">
                        <li>{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>