.sticky-top {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 99;
}

.bg-transparent {
  background-color: transparent !important;
}

.container {
  max-width: 1000px !important;
  margin: 0 auto !important;
  padding: 0 1rem;
}

.section-title{
  color: $blue-dark;
  margin-top: 4rem;
  font-size: 1.8rem;
  &::after{
    content: '';
    width: 5rem;
    height: 3px;
    background-color: $green;
    display: block;
    margin: 0 auto;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    font-size: $fs-4;
  }
}

.section-paragraph{
  color: $gray;
  font-size: $fs-1;
  width: 100%;
}

@include md{
  .section-title{
    font-size: 2rem;
  }
  .section-paragraph{
    // width: 60%;
    margin: 0 auto;
  }
}
